@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald&display=swap');

/*
Texto corrido: font-family: 'Merriweather', serif;
Título: font-family: 'Oswald', sans-serif;
*/

/* Ajuste do Box Model pra TUDO */
*, *::after, *::before { box-sizing: border-box; }

html {
    font-size: 18px;
    scroll-behavior: smooth;   /* rolagem suave 
    entre as áreas da página */
    scroll-padding-top: 70px; /* Aplica um padding apenas quando o scroll acontece, no nosso caso, ao clicar no links do menu */


    /* variáveis CSS
    declaração:
    --cor-principal:#f0f;

    recuperando a variável declarada:
    var(--cor-principal);
    */
}

img, iframe {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

header {
    text-align: center;
    background: #fff;
    position: sticky;
    top: 0;
    padding-bottom: 0.1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #333;
    font-family: 'Oswald', sans-serif;
    padding: .5rem 0.6rem;
    transition: all 0.6s;
}

nav a:hover, nav a:active {
    color: rgb(255, 239, 60);
    background-color: #000;
}

section {
    height: 73vh;
    display: flex;
    align-items: center;
    margin: 0;  
}

    .conteudo {
        width: 90%;
        max-width: 800px;
        margin: auto;
    }

    section h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    section p {
        line-height: 1.9rem;  /* configura o espaço entre as linhas */
    }


/* Formatando os botões da <section> */
.cta {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;  /* configura o espaço entre as letras */
    text-decoration: none;
    font-size: .8rem;
    font-weight: 600;
    background-color: rgb(255, 239, 60);
    padding: 1.15rem 1.8rem ;
    line-height: 5.5rem;
    color: #000;
}

    .cta::before {
        content: "+";
        margin-right: .8rem;
        font-weight: 600;
    }


/* classe para deixar o link / botão verde água */
.bt-verde-agua {
    background: #26ccca;
    color: #fff;
}


#produto {
    background-image: url(imagens/h13-background-img-1.jpg);
    background-size: cover;
    background-position-x: center;
}

#ux {
    color: #fff;
    background-image: url(imagens/h13-background-img-2.jpg);
}

#motion {
    background-image: url(imagens/h13-background-img-3.jpg);
    background-size: cover;
    background-position-x: center;
}

#brand {
    color: #fff;
    background-image: url(imagens/h13-background-img-4.jpg);
}

.texto-cinza {
    color: #999;
}

#print {
    background-image: url(imagens/h13-background-img-5.jpg);
    background-size: cover;
    background-position-x: center;
    color: #fff;
}



/* Fazendo o botão do whatsapp flutuar */
.whats {
    position: fixed;
    bottom: 10px;
    right: 10px;
    filter: drop-shadow(3px 3px 20px rgb(4, 228, 90));
}

.centraliza {
    flex-direction: column;
    justify-content: center;
}


button{
    background-color: #26ccca;
    border-radius: 4px;
    font-weight: bolder;
        
}

/* Formatando para telas acima de 778px */
@media screen and (min-width:778px) {
    body {
        background-color: rgb(255, 239, 60);
    }

    .conteudo {
        width: 50%;
        max-width: 800px;
        margin: 0;
        margin-left: 4rem;
    }

    section h1{
        font-size: 5rem;
        margin-bottom: -0.6rem;
    }

    #produto, #motion, #print {
        background-attachment: fixed;
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10vh;  
    }

    header div { 
        width: 25%;
    }

    header nav {
        width: 70%;
        max-width: 800px;
    }

    nav a {
        font-size: 1.1rem;
        padding: 0.7rem 1.0rem;
    }

}


